@model InvoiceListViewModel

@{
    ViewBag.Title = $"Order Manager - {wsApp.Configuration.ApplicationName}";
    Layout = "_Layout";
}

<div style="margin: 1em">
    
     
    
    <div class="float-end">
        <a class="btn btn-secondary btn-sm" 
           href="/admin/ordermanager/customers" title="customer lookup">
            <i class="fad fa-users fa-fw text-warning"></i>
        </a>
        <a class="btn btn-secondary btn-sm"
           href="/admin" title="back to invoice list">
            <i class="fad fa-home fa-button text-warning"></i>
        </a>
    </div>
    
      <h2 class="page-header-text">
            <i class="fad fa-receipt"></i>
            @wsApp.Configuration.ApplicationName Orders
      </h2> 
    
    <error-display error-display-model="Model.ErrorDisplay"></error-display>
    
    <style>
         tr:not(:first-child):hover { 
            background:  #e7f1ff !important; 
        }
    </style>
    <table class="table table-sm  table-dark-headers">
        <tbody>
        <tr class="bg-light">
            <td colspan="4" class="pt-2">
                <form>
                    <div class="responsive-container">
                        <div class="input-group input-group-sm">
                            <div class="input-group-text">
                                <i class="far fa-search"></i>
                            </div>

                            <input id="InvoiceSearch" name="s"
                                   class="form-control" type="search"
                                   value="@Model.SearchTerm"
                                   placeholder="search invoices: order #, email, name, company, recent, 30 days, 60 days, 90 days, this month, last month, this year, last year" 
                                   autocomplete="off" autocorrect="off"
                                   title="search invoices: order #, email, name, company, recent, 30 days, 60 days, 90 days, this month, last month, this year, last year">
                            <button type="submit" class="input-group-text" title="Go">
                                <i class="fas fa-check text-success"></i>
                            </button>
                        </div>
                        <a href="/admin/ordermanager/customers"
                           class="btn btn-secondary btn-sm" style="width: 5em" title="Add new invoice" >
                            <span>
                                <i class="fas fa-plus-circle text-success"></i> Add
                            </span>
                        </a>
                        
                        
                    </div>
                    @if (Model.InvoiceCount > 0)
                    {
                        <div class="header-byline mt-2">
                            <span class="text-info">@Model.InvoiceCount.ToString("n0")</span> invoices &bull; Total: <b class="text-danger">@Model.InvoiceTotal.ToString("c2")</b>
                        </div>
                    }
                </form>
            </td>
        </tr>
        <style>
            .approved {                 
                background: #fff0d4;
            }
        </style>
        
        @foreach (InvoiceListItem invoice in Model.InvoiceList)
        {
            var color = string.Empty;
            if (@invoice.Status == "AUTHORIZED")
                color = "background: cornsilk;";
            else if(invoice.Status == "UNPROCESSED" || string.IsNullOrEmpty(invoice.Status))
                color = "background:  #f9f9f9;";
            else if( invoice.Status == "DUE AND PAYABLE")
                color = "background:   #ffeeee;";
            else if(invoice.Status == "APPROVED" || invoice.Status == "PAID IN FULL")
                color = "background: #effffa";
            else if (invoice.Status == "REFUNDED" || invoice.Status == "VOID" || invoice.Status == "VOIDED")
                color = "background: #e9e1ff";
            
            <tr onclick="location.href = '/admin/ordermanager/@invoice.InvoiceNumber?listsearchterm=@Model.SearchTerm'; return false;"
                style="@color">
                <div style="background: #e9e1ff"></div>
                @* <tr onclick="window.open('/admin/ordermanager/@invoice.InvoiceNumber','','width=1020,height=1220'); return false;"> *@
                <td class="small">
                    <b class="text-info">@invoice.InvoiceNumber</b><br/>
                    <i style="font-size: 0.7em">@TimeUtils.FriendlyDateString(invoice.InvoiceDate)</i>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(invoice.Company))
                    {
                        <b>@invoice.Company -</b>
                    }
                    @invoice.Name
                    <br/>
                    <div class="lh-1">
                        @foreach (var lineItem in invoice.LineItems)
                        {
                            <div>
                                <i style="font-size: 0.7em; padding-right: 1.2em">@lineItem.Quantity.ToString("n2").Replace(".00", "") - <span class="text-info">@lineItem.Sku</span> - @lineItem.ItemTotal.ToString("c2")</i>
                            </div>
                        }
                    </div>

                </td>
                <td class="right bold">
                    @{
                        var total = invoice.InvoiceTotal.ToString("c2");
                    }


                    @if (invoice.Status == "APPROVED" || invoice.Status == "PAID IN FULL")
                    {
                        <span class="text-success">
                            @total
                            <i class="fas fa-check-circle text-success hidable-xs" title="@invoice.Status"></i>
                        </span>
                    }
                    else if (invoice.Status == "AUTHORIZED")
                    {
                        <span class="text-warning">
                            @total
                            <i class="fas fa-check-circle text-warning hidable-xs" title="AUTHORIZED"></i>
                        </span>
                    }
                    else if (string.IsNullOrEmpty(invoice.Status) || invoice.Status == "UNPROCESSED")
                    {
                        <span class="text-info">
                            @total
                            <i class="fas fa-wait text-info hidable-xs" title="UNPROCESSED"></i>
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            @total
                            <i class="fas fa-times-circle text-danger hidable-xs" title="@invoice.Status"></i>
                        </span>
                    }
                </td>
                <td class="right bold">
                    <span >
                        <a href="/admin/ordermanager/invoice/@invoice.InvoiceNumber"
                           class="btn btn-sm btn-default hidable">
                            <i class="fas fa-edit text-info"></i>
                        </a>
                 
                        <a href="#0"
                           class="btn btn-sm btn-default hidable"
                           title="Copy customer email to clipboard:
@invoice.Email" onclick="onEmailCopy('@invoice.Email', event); return false;" >
                           <i class="fad fa-envelopes text-info"></i>
                        </a>
                        
                        <a href="#0"
                           title="Add new invoice for this customer"
                           onclick="addNewInvoiceForCustomer('@invoice.CustId', '@invoice.Name')"
                           class="btn btn-sm btn-default">
                            <i class="fas fa-plus-circle text-success"></i>
                        </a>
                        
                        <a href="#0"
                           class="btn btn-sm btn-default me-0 "
                           onclick="onClickDelete('@invoice.InvoiceNumber', event); return false;">
                            <i class="fas fa-times-circle text-danger "></i>
                        </a>
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>

@section Scripts
{
    <script>
    function onClickNewInvoice(custId, ev) {
        
    }
    function onEmailCopy(hrefText, event) {        
        event.cancelBubble = true;
        event.preventDefault();        
        copyToClipboard(hrefText);
        toastr.success("Email has been copied to clipboard.");
        return false;
    }
    function onClickDelete(invNo, ev) {                
        if (!confirm('Are you sure you want to delete invoice ' + invNo + '?'))
            return false;
        
        ajaxJson("/admin/ordermanager/api/invoice/" + invNo,null,
         function (result) {            
                if (result.isSuccess) {                    
                   var $row = $(ev.target).parents("tr");
                   
                   $row.fadeOut(1000);  // remove the row
                   toastr.success("Invoice deleted.");
                }
                else {
                       toastr.error("Invoice not deleted: " + result.message);
               }                
            },
            function (error) {
                toastr.error("Invoice not deleted.");
            },{ method: "delete" });

        ev.preventDefault();
        ev.cancelBubble = true;
        
        return false; // don't navigate
    }
    
    function addNewInvoiceForCustomer(custId, invoiceName) {       
        if( confirm(`Create a new invoice for ${invoiceName}`) )
        {
            location.href = `/admin/ordermanager/customers?action=addinvoice&customerid=${custId}`;
        }                         
        event.cancelBubble = true;
        event.preventDefault();
        return false;                            
    }
        
    $(function () {
        setTimeout( ()=> {            
            var el = document.getElementById("InvoiceSearch");
            el.select();
            el.focus()
        }, 200);
        
    });
    </script>
}