
@model SigninViewModel

@{
    ViewData["Title"] = "Sign in";    

}

<div class="container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        Sign in
    </h1>
    
    <error-display error-display-model="Model.ErrorDisplay" ></error-display>

    <p >
        @AppResources.Account.PleaseSignInToYourAccount
    </p>

    <form name="form1" asp-action="Signin">

        <div class="input-group mb-2">
            <span class="input-group-text"><i class="fa fa-fw fa-envelope"></i></span>
            <input type="email"
                   class="form-control"
                   placeholder="@AppResources.Account.EnterYourEmailAddress"
                   asp-for="Email"
                   aria-label="Email"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off" required />
        </div>
    

        <div class="input-group">
            <span class="input-group-text"><i class="fad fa-fw fa-unlock-alt"></i></span>
            <input type="password"
                   class="form-control"
                   placeholder="@AppResources.Account.EnterYourPassword"
                   asp-for="Password"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off"
                   required />
        </div>
        

        <div class="mt-3">
            <button class="btn btn-lg btn-primary  " style="display: block;"
                    type="submit"
                    [disabled]="form1.invalid || form1.pristine">
                <i class="far fa-sign-in" style="font-size: 1.1em"></i>
                @AppResources.Account.SignInButton
            </button>

            @if (Model.User.Identity.IsAuthenticated)
            {
                <div class="float-right" *ngIf="!isForgotPassword">
                    <a asp-action="Signout" class="btn btn-default btn-sm float-right"
                       style="display: block; ">
                        <i class="fa fa-lock-alt"></i>
                        @AppResources.Account.SignOut
                    </a>
                </div>
            }
        </div>
        <div class="mt-3">
            <a asp-action="PasswordRecoverySendEmail">@AppResources.Account.IForgotMyPassword</a>
        </div>
        <hr />

        <p>@AppResources.Account.DontHaveAnAccount</p>

        <a asp-action="Profile" class="btn btn-warning" routerLink="/account/profile/new">
            <i class="fad fa-user"></i>
            @AppResources.Account.CreateANewAccount
        </a>
        
        <input type="hidden" asp-for="ReturnUrl" />
    </form>
</div>
