@using Microsoft.AspNetCore.Hosting
@using System.Runtime.InteropServices
@using System.Globalization
@model Westwind.Webstore.Web.Views.Admin.AdminViewModel;
@inject IWebHostEnvironment Environment
@{
    ViewBag.Title = "Web Store Administration - " + wsApp.Configuration.ApplicationName;
    
}
<style>
    .card-header { background: lightsteelblue;}
</style>
<div class="container">
    
    
    <h1 class="page-header-text mb-0">
        <i class="fad fa-cogs"></i>
        Web Store Administration
    </h1>
    <div class="mt-1 mb-3 header-byline">v@(Model.ApplicationVersion) &nbsp;<small style="font-size: 0.75em">(@Model.ApplicationDate)</small> &bull;
        @Environment.EnvironmentName &bull;
        @RuntimeInformation.FrameworkDescription &bull; @RuntimeInformation.OSArchitecture
    </div>

    <error-display class="mt-3 mb-4" error-display-model="@Model.ErrorDisplay">
    </error-display>

    <div class="responsive-container">

        <div class="card w-50 me-2">
            <div class=" card-header">
                <i class="far  fa-ruler fa-fw"></i>
                Store Operations
            </div>
            <div class="list-group list-group-flush">
                <a href="/admin/ordermanager" class="list-group-item list-group-item-action">Order Manager</a>
                <a href="/admin/ordermanager/customers" class="list-group-item list-group-item-action">Customer Manager</a>
                <a href="/admin/productmanager" class="list-group-item list-group-item-action">Product Manager</a>
                <a href="/admin/lookupsmanager" class="list-group-item list-group-item-action">Lookups Manager</a>
                <a href="admin/skuemaillist" class="list-group-item list-group-item-action">Email Sku List</a>
                <a href="/admin/configuration"
                   class="list-group-item list-group-item-action">
                    View and Edit Configuration
                </a>
            </div>
        </div>

        <div class="card w-50 me-2">
            <div class=" card-header">
                <i class="fad fa-gears fa-fw"></i>
                System Administration
            </div>
            <div class="list-group list-group-flush">
                <a href="/admin/applicationlog.txt" class="list-group-item list-group-item-action">Show Error Log</a>
                <a href="/admin/cclog.txt" class="list-group-item list-group-item-action">Card Processing Activity Log</a>
                <a href="/admin/databasecleanup" class="list-group-item list-group-item-action">Cleanup and Shrink Database</a>
                <a href="/admin/exportseeddata" target="_blank" class="list-group-item list-group-item-action">Export Seed Data for Categories &amp; Lookups (json)</a>
                <a href="/admin/backup"  class="list-group-item list-group-item-action">Backup and Download Database</a>
            </div>

        </div>

    </div>
    
    <div class="mt-3">
        <h3 class="page-header-text">
            <i class="fad fa-gear"></i>
            Additional Application Info
        </h3>
        
        <div class="header-byline mb-2">
        os: @RuntimeInformation.OSDescription &bull;
        user: @System.Environment.UserName &bull;
        started: @wsApp.Constants.AppStartedOn &bull;
        culture: @CultureInfo.CurrentCulture.TwoLetterISOLanguageName @CultureInfo.CurrentCulture.DisplayName @CultureInfo.CurrentUICulture.NumberFormat.CurrencySymbol
                
        </div>
        
        
        <a class="btn btn-primary btn-sm"  href="/admin/reloadapp">Reload IIS Application</a>
    </div>
</div>